<div class="inline-flex justify-center w-full border-x border-gray-400 min-h-screen">
  <div class="flex flex-col w-full">
    <div
      class="flex w-full border-b border-gray-400 items-center min-h-16 px-6 sticky top-0 bg-background z-50"
      [ngClass]="navService.navState() === 'msg' || navService.navState() === 'bookmark' ? 'justify-start' : 'justify-center'"
    >
      @if (navService.navState() === "home") {
        @for (button of filterButtons; track $index) {
          <button
            hlmBtn
            variant="link"
            (click)="changeFilterState(button === 'highlights' ? 'highlights' : 'everyone', 'home')"
            class="capitalize"
            [ngClass]="{ '!text-gray-500': navService.filterState() !== button }"
          >
            {{ button }}
          </button>
        }
      } @else if (navService.navState() === "noti") {
        @for (button of notiButtons; track $index) {
          <button
            hlmBtn
            variant="link"
            (click)="changeFilterState(button === 'all' ? 'all' : 'mentions', 'notification')"
            class="capitalize"
            [ngClass]="{ '!text-gray-500': navService.notificationFilterState() !== button }"
          >
            {{ button }}
          </button>
        }
      } @else if (navService.navState() === "msg") {
        <p class="font-medium text-sm text-primary">Replies</p>
      } @else if (navService.navState() === "bookmark") {
        <p class="font-medium text-sm text-primary">Bookmarks</p>
      }
    </div>
    @if (currentUser()) {
      <div class="flex items-center gap-3 px-6 py-5 border-b border-gray-400 min-h-32">
        <App-avatar buttonVariant="large" name="jingwei" [avatarUrl]="currentUser()?.photoURL" />
        <textarea
          #textarea
          type="text"
          class="flex-1 !ring-0 w-full px-4 py-2 !outline-none resize-none h-fit min-h-fit"
          placeholder="What's on your mind..."
        ></textarea>
      </div>
    }

    @switch (navService.navState()) {
      @case ("home") {
        @if (navService.filterState() === "highlights") {
          @for (post of allPosts(); track $index) {
            @if (post) {
              <App-post-card [post]="post" />
            }
          }
        } @else {
          <p>Everyone</p>
        }
      }
      @case ("noti") {
        @if (navService.notificationFilterState() === "all") {
          <p>All</p>
        } @else {
          <p>Mentions</p>
        }
      }
      @case ("search") {
        <p>Search</p>
      }
      @case ("msg") {
        <p>Message</p>
      }
      @case ("bookmark") {
        <p>bookmark</p>
      }
      @default {
        <!-- <App-post-card /> -->
      }
    }
  </div>
</div>
