@if (icon().alias === "search") {
  <hlm-dialog>
    <hlm-tooltip>
      <button
        position="right"
        brnDialogTrigger
        hlmTooltipTrigger
        aria-describedby="{{ icon().name }}"
      >
        <App-svg-icon [icon]="icon().icon" icon_class="w-7 h-7" />
      </button>
      <span *brnTooltipContent class="capitalize">{{ icon().name }}</span>
    </hlm-tooltip>
    <hlm-dialog-content *brnDialogContent="let ctx">
      <hlm-dialog-header>
        <h3 brnDialogTitle hlm>Edit profile</h3>
        <p brnDialogDescription hlm>
          Make changes to your profile here. Click save when you're done.
        </p>
      </hlm-dialog-header>
      <hlm-dialog-footer>
        <button hlmBtn type="submit">Save changes</button>
      </hlm-dialog-footer>
    </hlm-dialog-content>
  </hlm-dialog>
} @else {
  <hlm-tooltip>
    <button
      position="right"
      hlmTooltipTrigger
      aria-describedby="{{ icon().name }}"
      (click)="routeTo(icon().alias)"
      [routerLink]="icon().path"
    >
      <App-svg-icon
        [icon]="iconSelected() ? icon().iconSolid : icon().icon"
        [icon_class]="'w-7 h-7'"
      />
    </button>

    <span *brnTooltipContent class="capitalize">{{ icon().name }}</span>
  </hlm-tooltip>
}
