<div
  class="flex gap-3 p-6 border-b border-gray-400 hover:bg-accent hover:cursor-pointer"
>
  <!-- Avatar -->
  <App-avatar [avatarUrl]="user?.avatar" [name]="post().name" />

  <div class="flex flex-col">
    <div class="flex">
      <!-- Name -->
      <button class="p-0 font-normal text-rvi-gradient" hlmBtn variant="link">
        {{ user?.name }}
      </button>
      <!-- Username -->
      &nbsp;<button class="p-0 text-gray-500 font-normal" hlmBtn variant="link">
        &commat;{{ post().username }}
      </button>
      <span class="inline-flex items-center text-gray-500">&nbsp;·&nbsp;</span>
      <button
        hlmBtn
        variant="link"
        class="p-0 inline-flex items-center text-gray-500 font-normal"
      >
        {{ post().timestamp.toDate() | momentsAgo }}
      </button>
    </div>

    <div class="flex flex-col">
      <!-- Post text -->
      <p class="text-gray-700">{{ post().content }}</p>

      @if (post().contentImgUrl) {
        <img class="rounded-lg mt-3" [src]="post().contentImgUrl" alt="" />
      }
      <!-- Post buttons -->
      <div class="mt-4 flex justify-between items-center w-full">
        @for (icon of postIcons; track $index) {
          <button
            class="flex items-center justify-center w-full gap-2 flex-auto relative translate-x-[calc(-50%+12px)]"
          >
            <App-svg-icon [icon]="icon.icon" icon_class="w-6 h-6" />

            @if (
              (icon.name === "comment" && post().commentCount > 0) ||
              (icon.name === "repost" && post().repostCount > 0) ||
              (icon.name === "like" && post().likeCount > 0)
            ) {
              <p>
                {{
                  icon.name === "comment"
                    ? post().commentCount
                    : icon.name === "repost"
                      ? post().repostCount
                      : post().likeCount
                }}
              </p>
            }
          </button>
        }

        <div class="flex-1">
          <button
            class="flex items-center justify-center w-full"
            [brnMenuTriggerFor]="menu"
          >
            <App-svg-icon [icon]="ellipsisIcon" icon_class="w-6 h-6" />
          </button>
        </div>

        <ng-template #menu>
          <hlm-menu class="w-56">
            <hlm-menu-group>
              <button hlmMenuItem (click)="addBookmark()">
                <span>Add bookmark</span>
              </button>

              <button hlmMenuItem (click)="copyLink()">
                <span>Copy link to post</span>
              </button>

              <button hlmMenuItem>
                <span class="text-destructive">Report post</span>
              </button>
            </hlm-menu-group>
          </hlm-menu>
        </ng-template>
      </div>
    </div>
  </div>
</div>
