<div class="flex items-start justify-center ml-auto sticky top-0">
  <div class="w-full flex flex-col justify-center items-center">
    @for (icon of navigationIconState(); track $index) {
      <div class="w-16 h-16 inline-flex items-center justify-center ml-auto">
        <App-nav-buttons
          [icon]="icon"
          [iconSelected]="icon.iconSelected"
          (onClick)="changeState($event)"
        />
      </div>
    }
    @if (currentUser()) {
      <hlm-tooltip>
        <button
          position="right"
          brnDialogTrigger
          hlmTooltipTrigger
          aria-describedby="profile"
          class="w-16 h-16 inline-flex items-center justify-center ml-auto"
          [routerLink]="'/profile/' + currentUser()?.displayName"
        >
          <App-avatar
            buttonVariant="small"
            [name]="currentUser()?.displayName!"
            [avatarUrl]="currentUser()?.photoURL"
          ></App-avatar>
        </button>
        <span *brnTooltipContent class="capitalize">profile</span>
      </hlm-tooltip>
    }
  </div>
</div>
